body{
	background-color: black;
	font-weight: bolder;
   color:  #956a6a;
   font-family: Righteous;
}

a {
	text-decoration: none;
	color: #BF5C2E;
}

a:hover {
	text-decoration: none;
	color: #BF5C2E;
	text-shadow: 0 0 1px white;
}

/* MENU */

.titre {
	margin-bottom: 100px;
}

.title-text {
	text-shadow:0 0 3px MediumSlateBlue;
	animation-name: titre-anim;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.button-menu{
	max-width: 150px;
	border-radius: 50%;
	padding: 60px 60px;
	border: solid white 4px;
	margin: auto 40px;
	box-shadow: 10px 10px 5px #000000;
	
}

@keyframes btn1-anim {
    from	{ top:0px;}
    to 	{opacity: 1.0; top:40px; background-color: #3260C5}
}

@keyframes btn2-anim {
    from	{ top:0px;}
    to 	{opacity: 1.0; top:40px; background-color: #595C96}
}

@keyframes btn3-anim {
    from	{ top:0px;}
    to 	{opacity: 1.0; top:40px; background-color:  #9E5445}
}

@keyframes btn4-anim {
    from	{ top:0px;}
    to 	{opacity: 1.0; top:40px; background-color: #c64f16}
}

.jumbotron {
	background-image: url("../media/titre-b2.jpg");
	background-size: cover;
	border-bottom: solid white 3px;
	border-top: solid white 3px;
	border-radius: 20px;
}


.btn1:hover{
	position: relative;
   animation-name: btn1-anim;
   animation-duration: 0.7s;
   animation-fill-mode: forwards;
}

.btn2:hover{
	position: relative;
   animation-name: btn2-anim;
   animation-duration: 0.7s;
   animation-fill-mode: forwards;
}

.btn3:hover{
	position: relative;
   animation-name: btn3-anim;
   animation-duration: 0.7s;
   animation-fill-mode: forwards;
}

.btn4:hover{
	position: relative;
   animation-name: btn4-anim;
   animation-duration: 0.7s;
   animation-fill-mode: forwards;
}

.btn1 {
	background-color: #c64f16;
	opacity: 0.5;

}

.btn2 {
	background-color: #9E5445;
	opacity: 0.5;
}

.btn3 {
	background-color: #595C96;
	opacity: 0.5;
}

.btn4 {
	background-color: #3260C5;
	opacity: 0.5;
}

/* AUTRES */

.well {
	background-color: rgba(45, 75, 95, 0.2);
}


@keyframes titre-anim {
	0%		{text-shadow:0 0 8px #595C96}
	50% 	{text-shadow:0 0 8px #c64f16}
	100%	{text-shadow:0 0 8px #595C96}
}

#back-to-top {
	background-color: black;
	opacity: 0.7;
	border: solid 1px #BF5C2E;
	position: fixed;
	right: 0px;
}

.infos {
	line-height: 28px;
}
